.center-class
{
	text-align:center;
	color:black;
}
body
{
	background-color:#232767;
	background-image:url('imgs/doge.gif');
}
#personal_photo_div
{
	text-align: center;
	margin: 20px;
}

a {
  font: bold 30px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 20px 20px 20px 20px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.links {
	position: relative;
	margin-top: 50px;
}